Repository youniginzu1/anygonow-be: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/chatservice.yml, azure-pipelines/loadbalancer.yml, azure-pipelines/unleash.yaml

azure-pipelines/chatservice.yml:

# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
  branches:
    include:
    - main
    - dev
    - releases/*
  paths:
    include:
    - src/chatservice
  batch: true
pool:
  name: Builder

name: $(SourceBranchName)_$(Date:ddMMyyyy)$(Rev:.r)
jobs:
- job: BuildImage
  displayName: Build Docker Image
  pool:
    name: Builder
  steps:
  - checkout: self
  - task: CmdLine@2
    displayName: Build
    inputs:
      script: |
        docker build -t ${REPOSITORY}:${TAG} . 
        echo ${DOCKER_PASS} | docker login -u ${DOCKER_USER} --password-stdin
        docker push ${REPOSITORY}:${TAG}
        docker tag ${REPOSITORY}:${TAG} ${REPOSITORY}:latest
        docker push ${REPOSITORY}:latest
      workingDirectory: $(System.DefaultWorkingDirectory)/src/chatservice

  - task: PublishBuildArtifacts@1
    displayName: 'Publish Artifact: Chat service'
    inputs:
      PathtoPublish: '$(System.DefaultWorkingDirectory)/src/chatservice/deploy/production'
      ArtifactName: 'server'

azure-pipelines/loadbalancer.yml:

# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
  branches:
    include:
    - main
    - dev
    - releases/*
  paths:
    include:
    - src/loadbalancer
  batch: true
pool:
  name: Builder

name: $(SourceBranchName)_$(Date:ddMMyyyy)$(Rev:.r)
jobs:
- job: Publish
  displayName: Publish
  pool:
    name: Builder
  steps:
  - checkout: self
  - task: PublishBuildArtifacts@1
    displayName: 'Publish Artifact: Loadbalancer'
    inputs:
      PathtoPublish: '$(System.DefaultWorkingDirectory)/src/loadbalancer'
      ArtifactName: 'server'

azure-pipelines/unleash.yaml:

# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
  branches:
    include:
    - main
    - dev
    - releases/*
  paths:
    include:
    - src/myunleash
  batch: true
pool:
  name: Builder

name: $(SourceBranchName)_$(Date:ddMMyyyy)$(Rev:.r)
jobs:
- job: Publish
  displayName: Publish
  pool:
    name: Builder
  steps:
  - checkout: self
  - task: PublishBuildArtifacts@1
    displayName: 'Publish Artifact: Unleash'
    inputs:
      PathtoPublish: '$(System.DefaultWorkingDirectory)/src/myunleash'
      ArtifactName: 'server'

add unleash
  src/unleash/values.yaml
Due: none

my unlesh proxy
  src/myunleash-proxy/.env.template
  src/myunleash-proxy/.helmignore
  src/myunleash-proxy/Chart.lock
  src/myunleash-proxy/Chart.yaml
  src/myunleash-proxy/charts/sish-client-0.1.0.tgz
  src/myunleash-proxy/templates/_helpers.tpl
  src/myunleash-proxy/templates/configmap.yaml
  src/myunleash-proxy/templates/deployment.yaml
  src/myunleash-proxy/templates/service.yaml
  src/myunleash-proxy/templates/serviceaccount.yaml
  src/myunleash-proxy/templates/tests/test-connection.yaml
  src/myunleash-proxy/values.tmp.yaml
Due: none

add myunlesah
  src/myunleash/.helmignore
  src/myunleash/Chart.lock
  src/myunleash/Chart.yaml
  src/myunleash/charts/sish-client-0.2.0.tgz
  src/myunleash/charts/unleash-2.6.0.tgz
  src/myunleash/templates/_helpers.tpl
  src/myunleash/values.tmp.yaml
Due: azure-pipelines/unleash.yaml

add monitor
  src/monitor/.helmignore
  src/monitor/Chart.lock
  src/monitor/Chart.yaml
  src/monitor/charts/sish-client-0.2.0.tgz
  src/monitor/collector.yaml
  src/monitor/templates/_config.tpl
  src/monitor/templates/_helpers.tpl
  src/monitor/templates/jaeger-deployment.yaml
  src/monitor/templates/jaeger-service.yaml
  src/monitor/templates/otel-collector-config.yaml
  src/monitor/templates/otel-collector-deployment.yaml
  src/monitor/templates/otel-collector-service.yaml
  src/monitor/templates/serviceaccount.yaml
  src/monitor/values.yaml
Due: none

add loadbalance
  src/loadbalancer/.helmignore
  src/loadbalancer/Chart.lock
  src/loadbalancer/Chart.yaml
  src/loadbalancer/Makefile
  src/loadbalancer/charts/sish-client-0.2.0.tgz
  src/loadbalancer/cheat-sheet.sh
  src/loadbalancer/docker-compose.yaml
  src/loadbalancer/nginx/mime.types
  src/loadbalancer/nginx/nginx.conf
  src/loadbalancer/templates/_helpers.tpl
  src/loadbalancer/templates/deployment.yaml
  src/loadbalancer/templates/hpa.yaml
  src/loadbalancer/templates/nginx-config.yaml
  src/loadbalancer/templates/service.yaml
  src/loadbalancer/templates/serviceaccount.yaml
  src/loadbalancer/values.tmp.yaml
  src/loadbalancer/values.yaml
Due: azure-pipelines/loadbalancer.yml
